<div id="login" ng-controller="LoginCtrl">
	<form action="/member/login/" method="post" id="login_form" class="aligned">
		<input type="hidden" name="action" value="is_valid_member"/>
		<input type="text" class="text" name="email_address" placeholder="Email Address"/>
		<input type="password" class="text" name="password" placeholder="Password"/>
		<input type="submit" class="button" name="commit" value="Login"/>
		<a class="registerlink" href="#/register/">Register</a><a class="registerlink" href="#/forgot">forgot password</a></p>
	</form>
</div>